{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <h3>01 알고리즘 표현 방법</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "e1" %}">1</a></li>
                    <li><a href="{% url "e2" %}">2</a></li>
                    <li><a href="{% url "e3" %}">3</a></li>
                </ul>

            </div>
        </div>
    </nav>


    <div id="content-box" class="col-sm-offset-2 col-sm-8">

        <div class="row">
            <div id="text-box">
                <h2> 1. 무엇으로 알고리즘을 표현할 수 있을까? </h2>
                <p> 지난 시간에 알고리즘이란 주어진 문제를 보다 효율적으로 해결하기 위한 절차나 방법을 가르킨다는 것을 배웠다. 그렇다면 알고리즘은 무엇을 이용해 표현할 수 있을까? </p>
                <p> 실생활에서 문제 해결 절차나 방법을 어떻게 표현하는지 알아보고 어떤 방법이 있을지 생각해보자.</p>
            </div>

            <div id="text-box">
                <h3>생각해보기</h3>
                <p>아래에 예시들은 어떻게 알고리즘을 표현하였나요? 다른 방법으로도 표현할 수 있을까요? 조원들과 이야기해봅시다. </p>
            </div>
            <div id="media-box">
                <img src="{% static 'img/example1.png' %}" alt="example1.png" class="img-responsive">
            </div>

            <div id="text-box">
                <h3> 1 글로 나타내기 </h3>
            </div>
            <div id="media-box">
                <img src="{% static 'img/nativelanguage.png' %}" alt="nativelanguage.png" class="img-responsive">
            </div>
            <div id="text-book">
                <p>일상생활에서 사용하는 언어를 이용하여 알고리즘을 표현하는 방법이다. 별다른 지식이 없어도 쉽게 사용할 수 있어 편리하지만 일상 언어의 모호함때문에 읽는 사람에 따라 내용이 다르게
                    해석될 수도 있으므로 최대한 명료하게 표현해야 한다.</p>
            </div>

            <div id="text-box">
                <h3> 2 그림으로 나타내기 </h3>
            </div>
            <div id="media-box">
                <img src="{% static 'img/picture1.png' %}" alt="picture1.png" class="img-responsive">
            </div>
            <div id="text-book">
                <p>간단한 그림을 이용하여 알고리즘을 표현할 수 있다. 상황에 따라 이미지를 통해 설명하는 것이 글로 설명하는 것보다 훨씬 효과적일 때가 있다. 대표적인 예로 종이접기 방법 알려주기,
                    하루 일과표 만들기 등이 있다.
                </p>
            </div>

            <div id="text-box">
                <h3> 3 순서도로 나타내기 </h3>
            </div>
            <div id="media-box">
                <img src="{% static 'img/flowchart1.png' %}" alt="flowchart1.png" class="img-responsive">
            </div>
            <div id="text-box">
                <p> 미리 약속된 기호를 사용하여 순서대로 일관성 있게 알고리즘을 표현하는 방법이다. 전체적인 흐름을 명확하게 이해할 수 있고 오류를 쉽게 찾을 수 있다는 장점이 있지만, 알고리즘의
                    규모가 큰 경우에는 오히려 복잡할 수 있다. </p>
            </div>

            <div id="text-box">
                <a role="button" href="https://goo.gl/fMJ8ar" class="btn btn-outline-info btn-lg" target="_blank">더 알아보기
                    : 순서도 기호</a>
            </div>
            <div id="media-box">
                <img src="{% static 'img/flowchart2.png' %}" alt="flowchart2.png" class="img-responsive">
            </div>


            <div id="text-box">
                <h3> 4 프로그래밍 언어로 나타내기 </h3>
            </div>
            <div id="media-box">
                <img src="{% static 'img/programming1.png' %}" alt="programming1.png" class="img-responsive">
            </div>
            <div id="text-box">
                <p>컴퓨터 프로그래밍 언어를 사용하여 알고리즘을 표현하는 방법이다. 컴퓨터를 이용하여 바로 실행할 수 있어 편리한 반면 사용자가 복잡한 프로그래밍 문법을 이해하고 있어야 하는 단점이
                    있다.</p>
                <p>프로그래밍 언어는 그 종류가 수백 가지이이며 지금도 새로운 프로그래밍 언어가 만들어지고 있다. C, java 등 사람의 언어와 비슷하게 생긴 프로그래밍 언어 뿐 아니라 엔트리,
                    스크래치와 같이 블록을 이용해 프로그래밍할 수 있는 블록형 프로그래밍 언어도 있다. </p>
            </div>
            <div id="text-box">
                <a role="button" href="https://playentry.org" class="btn btn-outline-info btn-lg" target="_blank">더 알아보기
                    : 블록형 언어 엔트리</a>
                <a role="button" href="https://code.org" class="btn btn-outline-info btn-lg" target="_blank">더 알아보기 :
                    게임으로 배우는 프로그래밍</a>
            </div>
            <div id="media-box">
                <img src="{% static 'img/programming2.png' %}" alt="programming2.png" class="img-responsive">
            </div>
            <div id="text-box">
                <ul class="pager">
                    <li class="previous disabled"><a href="{% url 'u5' %}">&larr; 이전 페이지</a></li>
                    <li class="next"><a href="{% url 'e2' %}">다음 페이지 &rarr;</a></li>
                </ul>
            </div>

        </div>

    </div>
{% endblock %}