{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <h3>알고리즘</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/express_home.html">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div id="content-box" class="col-sm-offset-2 col-sm-8">
        <div class="row">
            <!-- textcontents use id="text-box" title should be <h3></h3> -->
            <div id="text-box">
                <h3> 1. 무엇으로 알고리즘을 표현할 수 있을까? </h3>
                <p> 앞에서 살펴본 바와 같이 알고리즘이란 실제 프로그램을 작성하기 전에 절차나 방법을 기술해 놓은 것으로 각종 계획표나 설계도, 설명서와 같은 역할을 한다. 일반적으로 알
                    고리즘을 표현하는 방법에는 글과 그림, 순서도, 프로그래밍 언어 등이 있다.</p>
            </div>

            <div id="text-box">
                <h5>생각해보기</h5>
                <p>아래에 보여지는 것들은 어떻게 알고리즘을 표현하였나요? 다른 방법으로도 표현할 수 있을까요? 조원들과 이야기해봅시다. </p>
            </div>
            <!-- in case of media contents, use id="media-box" -->
            <div id="media-box">
                <img src="expression_1_timetable.jpg" alt="there's no media yet" class="img-responsive">
                <img src="express_1_flowchart.jpg" alt="there's no media yet" class="img-responsive">
                <img src="#" alt="there's no media yet" class="img-responsive">
            </div>
        </div>

        <div>
            <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-chevron-left"></span> PREV
            </a>
            <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-chevron-right"></span> NEXT
            </a>
            <a href="{% url 'question_list' %}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-chevron-right"></span> 질문하기
            </a>

        </div>

    </div>




{% endblock %}