{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>[개발중] 알고리즘 교재</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>

<body>


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>알고리즘교재</h3>
        </div>

        <ul class="list-unstyled components">
            <p>2.2 알고리즘</p>
            <li class="active">
                <a href="{% url 'index' %}">목차로 돌아가기</a>

            </li>
            <li>
                <a href="#">들어가기 전에</a>
            </li>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1 알고리즘 이해하기</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="{% url 'u1' %}">01 알고리즘의 정의</a></li>
                    <li><a href="{% url 'u2' %}">02 컴퓨터와 알고리즘</a></li>
                    <li><a href="{% url 'u3' %}">03 알고리즘의 중요성</a></li>
                    <li><a href="{% url 'u4' %}">04 알고리즘의 요건</a></li>
                    <li><a href="{% url 'u5' %}">05 생활 속 알고리즘</a></li>
                    <li><a href="{% url 'u6' %}">문제풀이</a></li>
                </ul>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">2 알고리즘 표현하기</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="./express_home.html">알고리즘 표현방법</a></li>
                    <li><a href="#">알고리즘 표현방식</a></li>
                    <li><a href="#">문제풀이</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'group_activity' %}">모둠활동</a>
            </li>
            <li>
                <a href="{% url 'question_list' %}">질문게시판</a>
            </li>
        </ul>

        <!-- 원작자의 다운로드 버튼
                  <ul class="list-unstyled CTAs">
                      <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
                      <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
                  </ul>
                -->
    </nav>


    <!-- Page Content Holder -->
    <div id="content">
        {% block content %}
        <!-- textbook contents write down here-->
        <!-- textbook contents write up here-->
        {% endblock %}
    </div>
</div>


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
</body>

</html>
